


<nav class="navbar ">
  <a class="navbar-brand" href="#">
    <img src="assets/OIP.jpg" width="50" height="50" class="d-inline-block align-top" alt="">

    <div  class="Questionnaire">Questionnaire</div>
  </a>
</nav>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

<br>
<br>
<br>

<div class="form-group">
  <label for="user">Select User:</label>
  <br>
  <select id="user" class="form-control" [(ngModel)]="selectedUser">
    <option *ngFor="let user of users" [value]="user">{{ user }}</option>
  </select>
</div> <br>
<br>

<div class="form-group" *ngIf="selectedUser">
 
  <button [routerLink]="['question']" class="btn btn-primary btn-lg" [disabled]="!selectedUser" (click)="goToNext()">NEXT</button>
</div>
