.Questionnaire{
    font:bold;
    color: rgba(249, 248, 251, 0.87);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 1000;
    text-align: center;
    margin-left: 600px; 


}
.navbar
{
    background-color: rgba(88, 81, 223, 0.827);
}
label {
    width: 500px; 
}
.form-group{
    margin-left: 100px;

}
#user{
    width: 500px ;
}


